node-red/data/flows.json
[
    {
        "id": "4bd885d3fe93cdd6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "872c6787997b744b",
        "type": "websocket-listener",
        "path": "/ws/accelerometer",
        "wholemsg": "false"
    },
    {
        "id": "a94d8dfbbc02baf5",
        "type": "debug",
        "z": "4bd885d3fe93cdd6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f5bd214f28fa1fd",
        "type": "websocket in",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "server": "872c6787997b744b",
        "client": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "219f6d6991c12725"
            ]
        ]
    },
    {
        "id": "219f6d6991c12725",
        "type": "function",
        "z": "4bd885d3fe93cdd6",
        "name": "function 1",
        "func": "const data = JSON.parse(msg.payload);\n\nreturn [\n    { payload: data.x, topic: 'x' },\n    { payload: data.y, topic: 'y' },\n    { payload: data.z, topic: 'z' }\n];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "a94d8dfbbc02baf5"
            ],
            [],
            []
        ]
    }
]