node-red/data/flows.json
[
    {
        "id": "4bd885d3fe93cdd6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "872c6787997b744b",
        "type": "websocket-listener",
        "path": "/ws/accelerometer",
        "wholemsg": "false"
    },
    {
        "id": "a94d8dfbbc02baf5",
        "type": "debug",
        "z": "4bd885d3fe93cdd6",
        "name": "print input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "6f5bd214f28fa1fd",
        "type": "websocket in",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "server": "872c6787997b744b",
        "client": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "ec8becde3001d83d"
            ]
        ]
    },
    {
        "id": "219f6d6991c12725",
        "type": "function",
        "z": "4bd885d3fe93cdd6",
        "name": "split values",
        "func": "const data = msg.payload;\n\nglobal.set(\"latest_sensor_data\", {\n    x: data.x,\n    y: data.y,\n    z: data.z\n});\n\nreturn [\n    { payload: data.x, topic: 'x' },\n    { payload: data.y, topic: 'y' },\n    { payload: data.z, topic: 'z' }\n];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 180,
        "wires": [
            [
                "283079b835155e47"
            ],
            [
                "283079b835155e47"
            ],
            [
                "283079b835155e47"
            ]
        ]
    },
    {
        "id": "623b6a4b086a536f",
        "type": "file",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "filename": "/data/position/test.jsonl",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 940,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "28945ac37309962b",
        "type": "inject",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "time",
                "v": "iso",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test message",
        "x": 210,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "31d938af.96f3b8",
        "type": "function",
        "z": "4bd885d3fe93cdd6",
        "name": "Modify Payload",
        "func": "var d = new Date();\nvar p = { \"time\": d, \"posX\": msg.payload, \"posY\": msg.payload.x, \"posZ\": msg.payload.z };\n//msg.payload=JSON.stringify(payload);\nmsg.payload=p;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8a32328c.6a20a8",
        "type": "json",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 730,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "22f14ad0.516cb6",
        "type": "debug",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 592,
        "y": 1075,
        "wires": []
    },
    {
        "id": "211ef2bc.c51be6",
        "type": "file in",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "filename": "",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 319,
        "y": 1059,
        "wires": [
            [
                "22f14ad0.516cb6"
            ]
        ]
    },
    {
        "id": "c1829945.5cab08",
        "type": "inject",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 262,
        "y": 959,
        "wires": [
            [
                "801f85b2.8b5a08"
            ]
        ]
    },
    {
        "id": "801f85b2.8b5a08",
        "type": "function",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "func": "msg.filename=\"/home/pi/logs/sensors.txt\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 415,
        "y": 954,
        "wires": [
            [
                "211ef2bc.c51be6"
            ]
        ]
    },
    {
        "id": "283079b835155e47",
        "type": "join",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d80190a34b5d283c",
        "type": "switch",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor-data",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "save-request",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "219f6d6991c12725"
            ],
            [
                "cf309bea703641ad"
            ]
        ]
    },
    {
        "id": "ec8becde3001d83d",
        "type": "json",
        "z": "4bd885d3fe93cdd6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "d80190a34b5d283c"
            ]
        ]
    },
    {
        "id": "cf806b5c775ed7b8",
        "type": "debug",
        "z": "4bd885d3fe93cdd6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "cf309bea703641ad",
        "type": "function",
        "z": "4bd885d3fe93cdd6",
        "name": "function 1",
        "func": "var d = new Date();\nvar data = global.get(\"latest_sensor_data\");\n\nif (!data) {\n    node.warn(\"No sensor data available.\");\n    return null;\n}\n\nvar p = {\n    time: d.toISOString(),  // or just use d if you want full object\n    posX: data.x,\n    posY: data.y,\n    posZ: data.z\n};\n\nmsg.payload = JSON.stringify(p) + \"\\n\";  // write as JSON string\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "cf806b5c775ed7b8",
                "8a32328c.6a20a8",
                "623b6a4b086a536f"
            ]
        ]
    }
]